{% extends "master/base.html" %}
{% load i18n %}
{% block title %}Gerenciar questões{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lethus.bootstrapListBuilder.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lethus.bootstrapListBuilder.css" />
<script type="text/javascript">
  $(document).ready( function (e) {
  $("#list table").listbuilder();
  });
</script>
{% endblock %}

{% block content %}
<div class="page-header">
  <h3>Gerenciando questões</h3>
</div>

<div id="toolbar" class="btn-group">
  <a id="add-btn" class="btn" href="/admin/add/">
    <i class="icon-plus"></i> Adicionar
  </a>
  <a id="edit-btn" class="btn alone-action dblclick" href="/admin/%d/">
    <i class="icon-pencil"></i> Editar
  </a>
</div>


<div id="list">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
      <tr>
		  <th scope="col">ID</th>
	      <th scope="col">{% trans "Title" %}</th>
	      <th scope="col">{% trans "Status" %}</th>
	      <th scope="col">{% trans "Categories" %}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}
