{% load i18n %}
<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		
		<title>{% block title %}{% endblock title %} | Support Center</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}faq/css/reset.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}faq/css/main.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}faq/css/theme.css">


		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.ptbr.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput-1.3.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
	</head>

	<body class="home">

  
	  {% block knowledge_inner %}
	  {% endblock knowledge_inner %}


	  <footer id="footer">
		  <div id="footer-bottom">
			  <div class="container">
				  <small id="copyright">Copyright © Lethus TI Ltda.</small>
				  <nav id="footer-nav">
					  <ul>
						  <li><a href="/">{% trans "Home" %}</a></li>
	  					  <li><a href="/faq/">{% trans "Knowledge Base" %}</a></li>
	  					  <li><a href="/forum/">{% trans "Forum" %}</a></li>
	  					  <li><a href="https://app.lethussaude.com.br">{% trans "Return to site" %}</a></li>
	  					  <li><a href="/contact/">{% trans "Contact" %}</a></li>
					  </ul>
				  </nav>
			  </div>
		  </div>
	  </footer>
	</body>
</html>
