<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		
		<title>{% block title %}{% endblock title %} | Support Center</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}faq/css/reset.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}faq/css/main.css">


		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.ptbr.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput-1.3.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
	</head>

	<body>

<div class="wrapper">
  
  {% block knowledge_inner %}
  {% endblock knowledge_inner %}

</div>
  
</body>
</html>
