{% extends BASE_TEMPLATE|default:'faq/base.html' %}

{% load i18n %}
{% load url from future %}

{% block knowledge_inner %}

	<header id="header">
		<div class="container">
			<div id="header-inner">
				<div id="logo">
					<a title="Central Suporte" href="/">
		      			<img alt="Central Suporte" src="{{ STATIC_URL }}faq/img/logo.png">
					</a>
		  		</div>
		  		<nav id="primary-nav">
		  			<ul id="menu-primary-nav">
		  				<li><a href="/">{% trans "Home" %}</a></li>
		  				<li><a href="/faq/">{% trans "Knowledge Base" %}</a></li>
		  				<li><a href="/forum/">{% trans "Forum" %}</a></li>
		  				<li><a href="https://app.lethussaude.com.br">{% trans "Return to site" %}</a></li>
		  				<li><a href="/contact/">{% trans "Contact" %}</a></li>
		  			</ul>
		  		</nav>
			</div>
		</div>
	</header>

	{% if messages %}
	{% for message in messages %}
	<div class="alert {{ message.tags }}">
		<a class="close" data-dismiss="alert" href="#">×</a>
		
		{{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}
	
	{% block welcome %}
	{% endblock %}

	<div class="dk-content">
		{% block knowledge_widgets %}
		
		{% endblock knowledge_widgets %}
	</div>

	<div class="clear"></div>

{% endblock knowledge_inner %}
