{% load i18n %}
{% load url from future %}
{% if my_questions or categories %}
<div id="sidebar">
  <div id="textAd" class="boxed-orange widget">
    <h4>Experimente grátis</h4>
    <div class="textwidget">
      <p>
        Acesse o site do sistema e surpreenda-se, sistema sem taxas de instalação e fidelidade.
        <br>
        <a href="http://lethussaude.com.br">Cadastre-se grátis >></a>
      </p>
    </div>
  </div>
  {% if my_questions %}
    <div class="widget">
      <h4 class="widget-title">{% trans "My Questions" %}</h4>
      <ul>
        {% for question in my_questions %}
          <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
        {% endfor %}
      </ul>
    </div>      
  {% endif %}

	{% if categories %}
  <div class="widget boxed">
    <h4 class="widget-title">{% trans "Categories" %}</h4>
    <ul>
      {% for category in categories %}
        <li><a href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></li>
      {% endfor %}
    </ul>

  </div>
  {% endif %}
  <div class="widget">
    <h4 class="widget-title">{% trans "Navigate" %}</h4>
    <ul>
      <li><a href="/forum/add/">{% trans "Ask a question or give suggestion." %}</a></li>
      <li><a href="{% url "knowledge_index" %}">{% trans "Return to homepage." %}</a></li>
    </ul>
  </div>
</div>
{% endif %}
