{% extends 'faq/inner.html' %}

{% load i18n %}
{% load markup %}
{% load knowledge_tags %}
{% load url from future %}

{% block title %}{{ object.title }}{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">

  <div class="dk-dialog">
    <div class="the-author gravatar"><img src="{% get_gravatar object.get_email %}" alt="{{ object.get_name }} gravatar"></div>
    <div class="the-content gravatar">
      <h2>{{ object.title }}</h2>
      <h5>{{ object.get_name }} <span class="quiet">
        {% if object.user %}
          {% if object.user.is_staff %}&nbsp;<span class="dk-label dk-label-success">{% trans "staff" %}</span>
          {% else %}&nbsp;<span class="dk-label">{% trans "user" %}</span>{% endif %}
        {% endif %}
        &nbsp;{{ object.added }}
      </span></h5>

      {{ object.body|striptags|lethusmarkdown }}

      {% include "faq/mod_bar.html" with allowed_mods=allowed_mods.object type="object" node=object %}
    </div>
  </div> <!-- .dk-dialog -->


  <hr class="light"/>
  <br />


  {% for response in responses %}
    <div class="dk-dialog">
      <div class="the-author gravatar smaller"><img src="{% get_gravatar response.get_email 40 %}" alt="{{ response.get_name }} gravatar"></div>
      <div class="the-content gravatar">
        <h5>{{ response.get_name }} <span class="quiet">
          {% if response.accepted %}&nbsp;<span class="dk-label dk-label-warning">{% trans "accepted answer" %}</span>{% endif %}
          {% if object.user == response.user %}&nbsp;<span class="dk-label dk-label-info">{% trans "poster" %}</span>{% endif %}
          {% if response.user %}
            {% if response.user.is_staff %}&nbsp;<span class="dk-label dk-label-success">{% trans "staff" %}</span>
            {% else %}&nbsp;<span class="dk-label">{% trans "user" %}</span>{% endif %}
          {% endif %}
          &nbsp;{{ response.added }}
        </span></h5>

        {{ response.body|striptags|lethusmarkdown }}

        {% include "faq/mod_bar.html" with allowed_mods=allowed_mods.response type="response" node=response %}
      </div>
    </div> <!-- .dk-dialog -->
  {% empty %}
    <p class="center"><em>{% trans "No responses yet." %}</em></p>
  {% endfor %}


  <br/> 
  <hr class="light"/>
  <br/> 


  {% if form %}
    {% include "faq/form.html" with submit_value="Respond to this object" submit_and="and check back often for updates." %}
  {% else %}
    {% if object.locked %}
      <p class="center"><em>{% trans "This object has been closed." %}</em></p>
    {% else %}
      <p class="center"><em>{% trans "Please log in to respond." %}</em></p>
    {% endif %}
  {% endif %}


</div>

{% endblock knowledge_widgets %}
