{% extends 'faq/inner.html' %}

{% load i18n %}
{% load markup %}
{% load knowledge_tags %}
{% load url from future %}

{% block title %}{{ object.title }}{% endblock title %}

{% block knowledge_widgets %}

<div id="page-header">
  <div class="container">
    <h1>Base de conhecimento</h1>
    <div id="live-search">
        <form method="get" action="/faq/" autocomplete="off">
            <input type="text" onfocus="if (this.value == 'Pesquise em nossa base de conhecimento...') {this.value = '';}" onblur="if (this.value == '')  {this.value = 'Pesquise em nossa base de conhecimento...';}" value="Pesquise em nossa base de conhecimento..." name="title" id="s" autocomplete="off">
        </form>
    </div>
  </div>
</div>
<div id="primary" class="sidebar-right">
  <div class="container">
    <section id="content">
      <div class="row category-list">
        <div class="article">
          <h2 class="entry-title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
          <span>
            Criado em {{ object.added }}
			{% if user.is_superuser %}
			<a href="/admin/{{ object.id }}/">
				Editar questão
			</a>
			{% endif %}
          </span>
        </div>
        <div class="entry-content">
          <!-- coloca o conteudo do artigo -->
         {{ object.body|striptags|lethusmarkdown }}
        </div>
      </div>
    </section>
    {% include 'faq/sidebar.html' %}
  </div>
</div>

{% endblock knowledge_widgets %}
