<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
    <title>{% block title %}Lethus supportcenter{% endblock %}</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <link href="{{ STATIC_URL }}img/favicon.png" rel="shortcut icon" type="image/x-icon">

   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.public.css"/>
   
   <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
        
    <script type="text/javascript">
        $(document).ready(function(){
            $(".alert").alert()
        });
    </script>
    

    {% block head %}
    {% endblock head %}
 </head>

 <body>
    <div class="container" id="master">
     	<h2 id="logo">Lethus supportcenter</h2>
     	
     	{% block content %}{% endblock %}
    
        <div class="row" id="footer">
        <div class="span6">
            <span class="copyright">
                ©2013 Lethus TI
            </span>
        </div>
    </div>
 </body>
 </html>
