{% extends "master/base.html" %}

{% block title %}{% if object %}Editando{% else %}Adicionando{% endif %} setor{% endblock %}

{% block css %}
{{ block.super }}
<style>
#id_sigla { width: 110px; }
#id_nome { width: 400px; }
</style>
{% endblock %}

{% block content %}
<div class="page-header">
 <h1>
    {% if object %}Editando{% else %}Adicionando{% endif %} setor
    <small>* são obrigatórios</small>
 </h1>
</div>

<form action="." method="POST">

    {% include "master/form_snippet.html" %}
    
    <br/>

    <p class="btn-group">
        <button type="submit" class="btn btn-primary">
            <i class="icon-ok icon-white"></i> Salvar
        </button>
        <button type="button" onclick="history.go(-1)" class="btn">
            <i class="icon-arrow-left"></i> Voltar
        </button>
     </p>

</form>
{% endblock %}
