{% extends "master/base.html" %}
{% block title %}Gerenciando usuários{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lethus.listBuilder.js"></script>
<script type="text/javascript">
$(document).ready( function (e) {
    $("table.display").listbuilder();
});
</script>
{% endblock %}

{% block content %}
<div class="base">
<header id="header">
  <hgroup>
    <span id="icon"><img src="{{ STATIC_URL }}img/menu/users.png" alt="usuarios"></span>
    <span id="title">
      <strong>Gerenciando usuários</strong>
    </span>
  </hgroup>
</header>

<section id="main">
<div id="list">
<span id="toolbar" class="ui-widget-header ui-corner-all">
  <a id="add" class="button-icon" href="{{ module_url }}/add/" rev="ui-icon-plus">Adicionar</a>
  <a id="edit" class="alone-action button-icon dblclick" href="{{ module_url }}/%d/" rev="ui-icon-pencil">Editar</a>
  <a id="post-delete" class="hide-nojs many-action button-icon" href="#" rev="ui-icon-trash">Apagar</a>
  <a id="edit-worktime" class="alone-action hide-nojs button-icon" href="{{ module_url }}/worktime/%d/" rev="ui-icon-document">Editar horário de trabalho</a>
  <a id="view-log" class="alone-action hide-nojs button-icon" href="{{ module_url }}/logs/%d/" rev="ui-icon-document">Ver log de ações</a>
</span>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="result">
    <thead class="ui-corner-all">
      <tr>
	<th scope="col">ID</th>
	<th scope="col">Usuário</th>
	<th scope="col">Nome completo</th>
	<th scope="col" class="email">Endereço de e-mail</th>
	<th scope="col">Unidade</th>
	<th scope="col">Cargo</th>
	<th scope="col" class="boolean">Ativo</th>
      </tr>
    </thead>
    <tbody class="ui-corner-all">
    </tbody>
  </table>
</div>
</section>
</div>
{% include "master/toolbar2.snippet.html" %}

{% endblock %}
