{% extends "master/base.html" %}

{% block title %}Histórico de ações geral{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lethus.bootstrapListBuilder.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lethus.bootstrapListBuilder.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-historyfilter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/accounts.history.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker.css"/>
<style type="text/css">
  #diario input {width: 90px;}
</style>
{% endblock %}

{% block content %}
<div class="page-header">
  <h3>Histórico de ações geral</h1>
</div>

<form action="." id="filter-form" method="GET" class="well form-inline">
{{ filter_form.from_date }}
{{ filter_form.to_date }}
{{ filter_form.module }}
{{ filter_form.action }}
</form>

 
<div id="list" class="well">
  <div id="toolbar" class="btn-group">
	<a id="pdf" class="btn output" rel="pdf" href="#">
      <i class="icon-print"></i> Exportar para PDF
    </a>
	<a id="csv" class="btn output" rel="csv"  href="#">
      <i class="icon-list-alt"></i> Exportar para CSV
    </a>
  </div>
  <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="result">
	<thead>
	  <tr>
	    <th scope="col">ID</th>
	    <th scope="col">Usuário</th>
	    <th scope="col">Módulo</th>
	    <th scope="col">Ação</th>
	    <th scope="col" class="link" rel="5">Objeto Link</th>
	    <th scope="col">Objeto</th>
	    <th scope="col" class="sort-desc">Horário</th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
  </table>
</div>
<br clear="all" />
{% endblock %}
