body {
	background:#fff;
	color: #555555;
   	font: 16px/28px 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
   	margin: 0px;
}
code, pre {
	display: block;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	white-space: pre;
	white-space: pre-wrap;
}
pre {
	background:#f5f5f5;
	border: 1px solid #d6d6d6;
	padding: 2em;
	line-height: 1.5em;
	margin: 0 0 1.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.container {
	margin: 0 auto; 
	max-width: 1000px;
	padding:0 3%;
	margin-right: auto;
	margin-left: auto;
	width:940px
}
.container:before, .container:after {
    display: table;
    line-height: 0;
    content: ""
}

.container:after {
    clear: both
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	background:#edeff2;
	border:none;
	color:#6e6c6c;
	padding: 10px 12px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	outline: 0;
	text-align: left;
	vertical-align: top;
}
a.btn,
button.btn,
input[type="reset"].btn,
input[type="submit"].btn,
input[type="button"].btn {
	color:#fff;
	border:none;
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	overflow: visible;
	margin: 0;
	padding: 10px 14px;
	text-decoration: none;
	vertical-align: top;
	width: auto;
	font-size:15px;
	background:#86b854;
}
.field label,
.field input,
.field textarea,
.field span {
	display: block;
}
.help-block {
	font-size: 10px;
	font-style: italic;
}
.row {
	width: 100%; 
	margin: 0 auto;
	zoom: 1;
}
.row .col-third {
	width: 30.4%;
}
.row .home-col-half  {
	width: 47.78%;
}
.row .home-col-half:first-child {
	margin-left: 0px;
}
.row .col-half  {
	width: 46.78%;
}
.row > .col-half:before, 
.column:after { 
	content:""; 
	display:table; 
}
.row > .col-half:after { 
	clear: both; 
}
.column {
	margin-left: 3%;
	float: left;
	min-height: 1px;
	position: relative;
	margin-bottom: 1.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Alert */
.alert {
	padding: 20px 30px;
	margin-bottom: 20px;
	ttext-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	background-color: #f3e077;
	position:relative;
	color:#484019;
	-webkit-border-radius: 1px;	-moz-border-radius: 1px;border-radius: 1px;
}
.alert > button.close,
.alert > a.close {
	display: none;
}
.alert > p {
	margin: 0 0 0 0;
}
.alert-error {
	background-color: #c96565;
	color:#fff;
}

/* Header  */
#header {
	border-top: none 4px solid #333333;
	padding:40px 0;
	position: relative;
    z-index: 999;
}
#header-inner {
	position:relative;
}
#header #logo {
	float:left;
	margin:0;
	background: none;
	padding-left: 0px;
}

/* Primary Nav  */
#primary-nav {
    float:right;
	right:0;
	bottom:0;
	top: 10px;
	position: relative;
}
#primary-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#primary-nav ul a {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    display: block;
    position: relative;
	color: #494b4d;
	font-weight: 600;
	position: relative;
	outline:none;
	font-size: 15px;
	line-height: 100%;
	height: 30px;
	text-decoration:none;
	font-weight: 300;
}
#primary-nav ul li {
	float: left;
    padding: 0 0 0 30px;
    position: relative;
    z-index: 40;
}
#primary-nav ul li:first-child {
	padding-left:0;	
}
#primary-nav ul li a:hover, 
#primary-nav ul li:hover {
	text-decoration: none;
}
#primary-nav ul li a:hover {
	color:#000;
}

/* Page header  */
#page-header {
    margin: 0 0 40px;
    background:#86b854;
    padding: 30px 0;
	color:#fff;
}
#page-header.home {
	text-align:center;
}
#page-header h1 {
	color: #fff;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin: 0;
	line-height:100%;
}
#page-header.home h1 {
	font-size:42px;
	font-weight:bold;
	margin:0;
}
#page-header.home h2 {
	font-size:18px;
	font-weight:normal;
	margin:20px 0 0;
	text-align:center;
	color:#fff;
}
#page-header.home #live-search {
	margin:25px 0 0;
}
#live-search form {
	margin-right: auto;
	margin-left: auto;
}
#page-header input {
	padding: 20px 20px 20px 55px;
	display: block;
    margin: 20px 0 0;
    width: 70%;
	background:#fff url("../img/icon-search.png") no-repeat 20px center;
	font-size: 16px;
}
#page-header.home input {
	margin: 20px auto;
}

/* Feature lista  */
#features-list {
	background:#F5F5F5;
	margin:-40px 0 40px;
	padding:40px 0 10px;
}
#features-list .column {
	margin-bottom:30px;
}
#features-list .column > a {
	display:block;
}
#features-list .column p > a {
	display:block;
	color: #E36F3C;
	text-decoration:none;
	outline:0;
}
#features-list .column > a:visited {
	color: #E36F3C;
	text-decoration:none;
	outline:0;
}
#features-list .feature-icon {
	display:block;
	text-align:center;
	margin: 0 0 26px;
	line-height: 65px;
}
#features-list .feature-icon img {
	vertical-align: middle;
}
#features-list h3 {
	margin:0 0 20px;
	font-size:26px;
	font-weight:600;
	color: #363D40;
	letter-spacing:-0.6px;	
	text-align: center;
}
#features-list h3 a {
	text-decoration: none;
	color: #363D40;
}
#features-list p {
	margin:0;
	font-size:15px;
	line-height:22px;
	text-align: center;	
}

/* Sidebar  */
#sidebar,
#primary,
#content {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
#content {
	float:left;
	margin:0 4% 0 0;
	width: 70%;
}
#sidebar {
	float:left;
	width: 26%;
	font-size:14px;
	line-height:22px;
	color:#333;
	margin:0;
	padding:0;
}
#sidebar .widget {
	padding:0 0 30px;
	margin-bottom:30px;
}
#sidebar .widget.boxed, 
#sidebar .widget.boxed-orange, 
#sidebar .widget.boxed-blue, 
#sidebar .widget.boxed-green {
	padding:30px;
	border:none;
	margin-bottom:40px;
	background:#f5f5f5;
}
#sidebar .widget.boxed-orange {
	background:#FBFBD5;

}
#sidebar .widget.boxed-blue {
	background:#d5ecfb;
	
}
#sidebar .widget.boxed-green {
	background:#defbd5;
}
#sidebar .widget:last-child {
	border-bottom:none;
	margin-bottom:0;	
}
#sidebar .widget-title {
    color: #262626;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px;
    font: 22px/28px 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
}
#primary.sidebar-off #content {
	width:100%;
	float:none;
	margin:0;
	border:none;
}
.widget ul {
	padding:0;
	margin:0;
	list-style:square;
	list-style-position:inside;
	list-style:none;
}
.widget ul a {
	text-decoration:none;
	color:#383838 !important;
	cursor: auto;
}
.widget li {
	background: url("../img/icon-arrow.png") no-repeat left 6px;
	padding-left:20px;
	margin:0 0 20px;
}

#homepage-widgets .column {
	margin-bottom:40px;	
}
#homepage-widgets .widget-title {
	color: #363D40;
	font-size:18px;
	font-weight:400;
	margin: 0 0 26px;
	border-bottom:1px solid #E0E0E0;
}
#homepage-widgets .widget-title span {
	background:#fff;
	bottom: -7px;
    padding: 0 15px 0 0;
    position: relative;
}


.textwidget a {
	display:block;
	color: #E36F3C;
	text-decoration:none;
	outline:0;
}
.forum li {
	background: url("../img/forum-small.png") no-repeat 0 4px;
	padding-left:40px;
}
.articles li {
	background: url("../img/kb-small.png") no-repeat 0 0;
	padding-left:40px;
}

/* Category list  */
.category-list .column {
	margin-bottom:40px;	
}
.category-list h3,
#category-title {
	margin: 0 0 20px;
	font-size: 24px;
	letter-spacing: -0.6px;
	font-weight:bold;
	border-bottom: 1px solid #e0e0e0;
	padding:0 0 20px;
	line-height:100%;
}
.category-list h3, 
.category-list h3 a,
#category-title {
	color: #30363C;
	text-decoration: none;
}
.category-list h3 span.count {
	color:#fff;
	font-size: 13px;
	line-height: 100%;
    font-weight: 600;
    letter-spacing: 0;
    margin: 2px 0 0 10px;
    padding: 6px 8px;
	float:right;
	background:#86b854;
}
.category-list h3 span {
	color: #737980;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    position: relative;
    top: -3px;
}
.article {
	background: url("../img/kb-med.png") no-repeat 0 0;
	margin:0 0 26px;
	padding:0 0 30px 65px;	
}
.forum {
	background: url("../img/forum-med.png") no-repeat 0 0;
	margin:0 0 26px;
	padding:0 0 30px 65px;	
}
.forum.home-col-half {
	background: none;
}
.entry-title {
	margin:0 0 13px;
	font-size:34px;
	letter-spacing:-0.6px;
	font-weight:bold;
}
.entry-title, 
.entry-title a {
	color: #363d40 !important;
	line-height:32px;
	outline:none;
    text-decoration: none;
}
.entry-content {
	margin:0 0 26px;
}
/* Footer  */

#footer {
	margin: 20px 0 0;
}
#footer-bottom {
	background:#333;
	color:#fff;
	padding:35px 0;
}
#footer-bottom a {
	color:#fff;
}
#footer-bottom a:hover {
	text-decoration:none;
}
#footer-bottom #copyright {
	float:left;
	font-size: 13px;
    line-height: 100%;
}
@media screen and (max-width: 720px) {
	#footer-widgets .column {
		margin-bottom:26px;	
	}
	#footer-bottom #copyright {
	    float: none;
	}
} 

/* Footer Nav  */
#footer-nav {
	float:right;
	margin:0;
	padding: 0;
}
#footer-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer-nav ul a {
	   display: block;
	color: #fff;
	font-weight: normal;
	position: relative;
	outline:none;
	font-size: 14px;
	line-height: 100%;
	text-decoration:none;
}
#footer-nav ul li a:before {
	content:"/";
	color:#a6a6a6;
	padding: 0 15px 0 0;
	   margin: 0 0 0 15px;
}
#footer-nav ul li:first-child a:before {
	content:"";
	display:none;
}
#footer-nav ul li {
	float: left;
    position: relative;
    z-index: 40;
}
@media screen and (max-width: 720px) {
	#footer-nav {
		float:none;
		margin: 13px 0 0;
	}
}


/* Pagination */
.pagination {
    margin: 20px 0
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
}

.pagination ul>li {
    display: inline
}

.pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0
}

.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a,
.pagination ul>.active>span {
    background-color: #f5f5f5
}

.pagination ul>.active>a, .pagination ul>.active>span {
    color: #999;
    cursor: default
}

.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover,
.pagination ul>.disabled>a:focus {
    color: #999;
    cursor: default;
    background-color: transparent
}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px
}

.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px
}

.pagination-centered {
    text-align: center
}

.pagination-right {
    text-align: right
}

.pagination-large ul>li>a, .pagination-large ul>li>span {
    padding: 11px 19px;
    font-size: 17.5px
}

.pagination-large ul>li:first-child>a, .pagination-large ul>li:first-child>span {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px
}

.pagination-large ul>li:last-child>a, .pagination-large ul>li:last-child>span {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px
}

.pagination-mini ul>li:first-child>a, .pagination-small ul>li:first-child>a,
.pagination-mini ul>li:first-child>span, .pagination-small ul>li:first-child>span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px
}

.pagination-mini ul>li:last-child>a, .pagination-small ul>li:last-child>a,
.pagination-mini ul>li:last-child>span, .pagination-small ul>li:last-child>span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px
}

.pagination-small ul>li>a, .pagination-small ul>li>span {
    padding: 2px 10px;
    font-size: 11.9px
}

.pagination-mini ul>li>a, .pagination-mini ul>li>span {
    padding: 0 6px;
    font-size: 10.5px
}