#master {
    padding-top: 100px;
}
#logo {
    margin-top: 36px;
    padding-left: 45px;
    background: url("../img/sofa.png") no-repeat scroll left top transparent;
}
.reset_pass {
    margin-bottom: 50px;
}

/* RODAPE */
#footer {
    border-top: 1px solid #CCCCCC;
}
#footer .contato {
    margin-left: 20px;
}
#footer .help {
    float: right;
    margin-right: 20px;
}
