{% extends "faq/emails/base.html" %}
{% load i18n %}
{% load markup %}

{% block content %}
<p>{% blocktrans %}Hello {% endblocktrans %}Lethus</p>

<p>
	{% blocktrans with url=message.url subject=subject domain=site.domain %}
	We just wanted to let you know that a new message has been added: "{{ subject }}". You can visit it here: <a href="{{ domain }}{{ url }}">{{ domain }}{{ url }}</a>
    {% endblocktrans %}
</p>

<div style="background:#f3f3f3;margin:8px 0;padding:12px 18px">
	{% blocktrans %}Name: {% endblocktrans %}{{ name }}
	<br />
	{% blocktrans %}Email: {% endblocktrans %}{{ email }}
	<br />
	{% blocktrans %}Phone: {% endblocktrans %}{{ phone }}
	<br />
	<br />
	{% blocktrans %}Subject: {% endblocktrans %}{{ subject }}
	<br />
    {{ message|striptags|markdown }}
</div>

{% endblock content %}
