{% extends "master/base_public.html" %}
{% block content %}
<div class="page-header">
	<h3>Acesso negado!</h3>
</div>

    <p>Você não possui permissões para acessar a tela ou função desejada.</p>
    <p>Você pode contactar o administrador do seu sistema para solucionar esse problema ou entrar em contato com a <a href="http://suporte.lethus.com.br" target="_blank"> Central de Suporte da Lethus</a>.</p>
    <br/>
    <p><a class="btn btn-large btn-primary" href="/">Retornar a tela principal</a></p>
{% endblock %}
