{% extends 'faq/inner.html' %}

{% load i18n %}
{% load url from future %}

{% load knowledge_tags %}

{% block title %}{% trans "Question" %}{% endblock title %}

{% block header %}
<style type="text/css">
#id_name, #id_email {
	width: 600px;
}
#id_reply {
	width: 100%;
}
</style>
{% endblock %}

{% block knowledge_widgets %}

{% include "forum/search_widget.html" %}

<div id="primary" class="sidebar-right">
	<div class="container">
		<section id="content">
			<div class="row category-list">
				<div class="forum">
					<h2 class="entry-title"><a href="{{ object.get_absolute_url }}">{% trans "Question" %}: {{ object.title }}</a></h2>
					<span>
						Criado em {{ object.date }} por {{ object.name }}
					</span>
					{% if user.is_superuser %}
					<a href="{{ object.get_delete_url }}">
						{% trans "Delete topic" %}
					</a>
					{% endif %}
				</div>
				<div class="entry-content">
					<!-- coloca o conteudo do artigo -->
					{{ object.comment|striptags|lethusmarkdown }}
				</div>
                <hr />
                {% for reply in object.replies %}
                <div id="reply-{{ reply.id }}">
                    {{reply.reply}}
					<br />
                    Respondida por {{ reply.name }} em {{ reply.date }}
                    <br />
                    {% if user.is_superuser %}
                    <a href="{{ reply.get_delete_reply_url }}">
                        {% trans "Delete reply" %}
                    </a>
                    {% endif %}

                </div>
                <hr />
                <br />
                {% endfor %}
			</div>
            <form id="form" novalidate action="{% if object %}{{ object.get_absolute_url }}{% else %}.{% endif %}" method="POST">
                <h4>Responder</h4>
                
                {% include "master/message.error.html" %}
                {% csrf_token %}

                {% with field=form.name %}
				{% include "master/field_snippet.html" %}
				{% endwith %}

				{% with field=form.email %}
				{% include "master/field_snippet.html" %}
				{% endwith %}

				{% with field=form.phone %}
				{% include "master/field_snippet.html" %}
				{% endwith %}

				{% with field=form.reply %}
				{% include "master/field_snippet.html" %}
				{% endwith %}

                <br />
				
				<p class="btn-group">
					<button type="submit" class="btn btn-primary">
						<i class="icon-ok icon-white"></i> {% trans "Reply" %}
					</button>
					<button type="button" onclick="history.go(-1)" class="btn">
						<i class="icon-arrow-left"></i> {% trans "Back" %}
					</button>
				</p>
    			
            </form>
        
		</section>
		{% include 'faq/sidebar.html' %}
	</div>
</div>

{% endblock knowledge_widgets %}
