{% extends 'faq/inner.html' %}

{% load i18n %}
{% load url from future %}

{% load knowledge_tags %}

{% block title %}{% trans "Topic" %}{% endblock title %}

{% block knowledge_widgets %}
{% if not search %}
{% include "forum/search_widget.html" %}
{% endif %}
<div id="primary" class="sidebar-off">
	<div class="container">
		<section id="content">
			<div class="dk-widget">
				{# dunno how to do translation on this nasty block... #}
				{% if search %}
				<h3>{% blocktrans %}Showing {{ counter }} results{% endblocktrans %}{% if search %} {% trans "for" %} <em>{{ search }}</em>{% endif %}:</h3>
				{% else %}
				<h3>{% trans "Topics" %}</h3>
				{% endif %}
				
				<hr />
				<a type="button" class="btn" id="add-btn"  href="/forum/add/">
						{% trans "Add" %}
						</a>
				<a type="button" onclick="history.go(-1)" class="btn">{% trans "Back" %}
				</a>
				<hr/>
				<ol class="topic-list">
					{% for topic in object_list %}
					<li>
						<a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
						<small class="quiet">{% trans "by" %} {{ topic.get_name }}</small>
					</li>
					{% endfor %}
				</ol>
			</div>
		</section>
	</div>
</div>

{% endblock knowledge_widgets %}
