{% extends 'faq/inner.html' %}

{% load i18n %}
{% load url from future %}

{% load knowledge_tags %}

{% block title %}{% trans "Topic" %}{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">
  {# dunno how to do translation on this nasty block... #}
  <h3>{% trans "Topics" %}</h3>
  <hr />
           <button><a id="add-btn" href="/forum/add/">
            {% trans "Add" %}
            </a>
            </button>
            <button type="button" onclick="history.go(-1)" class="btn">{% trans "Back" %}
            </button>
  <hr/>
<ol class="topic-list">
  {% for topic in object_list %}
    <li>
    <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
    &nbsp; {% if not topic.get_responses %}
    <span class="dk-label dk-label-important">{% trans "no responses" %}</span>
    {% else %}
    <span class="dk-label">{{ topic.get_responses|length }}&nbsp;responses</span>
    {% endif %}
    &nbsp; 
    {% if topic.accepted %}
    <span class="dk-label dk-label-warning">{% trans "accepted" %}</span>
    &nbsp;
    {% endif %} 
    {% if topic.user.is_staff %}
    <span class="dk-label dk-label-success">{% trans "staff" %}</span>
    &nbsp;
    {% endif %} 
    <small class="quiet">{% trans "by" %} {{ topic.get_name }}</small>
    </li>
  {% endfor %}
</ol>
</div>
{% endblock knowledge_widgets %}