.endr-form input.log {width: 400px;}
.endr-form input.num {width: 60px;}
.endr-form input.cep {width: 90px;}
.endr-form #field-num,
.endr-form #field-comp,
.endr-form #field-uf,
.endr-form #field-distrito {float: left; padding-right: 10px;}
.endr-form .field-group {clear: both;}