{% extends "master/base_public.html" %}
{% block content %}
<div class="container">
<div class="reset_pass">
<form id="form" method="post" enctype="multipart/form-data" novalidate>
{% csrf_token %}
    <div class="page-header"><h1>recuperar senha</h1></div>
    <div class="alert alert-success">
        <p><strong>Sua senha foi alterada com sucesso!</strong><br/>
        Agora você pode entrar no sistema.</p>
    </div>
    
    <a href="{{ login_url }}" class="btn btn-primary">Entrar no sistema</a></h3>
</form>
</div>
</div>
{% endblock %}

