{% extends "master/base_public.html" %}
{% block head %}
<style>
#id_new_password1, #id_new_password2 { margin-left: -5px; }
</style>
{% endblock %}
{% block content %}
<div class="container">
<div class="reset_pass">
<form id="form" method="post" enctype="multipart/form-data" novalidate>
{% csrf_token %}
    <div class="page-header"><h1>recuperar senha</h1></div>
        {% if validlink %}
        <div>
            <p>Usuário <strong>{{username}}</strong> entre com uma nova senha.</p>
        </div>
        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
             <div class="alert alert-error"  >
                <button data-dismiss="alert" class="close" type="button">×</button>
                <p>Nova Senha: {{ error|escape }}</p>
            </div>
            {% endfor %}
        {% endif %}                
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
             <div class="alert alert-error"  >
                <button data-dismiss="alert" class="close" type="button">×</button>
                <p>Confirmar Senha: {{ error|escape }}</p>
            </div>
            {% endfor %}
        {% endif %}    
        
        <div class="control-group">
            <label class="control-label" for="id_new_password1">Nova Senha:</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
                        <input type="password" id="id_new_password1" class="span3" name="new_password1">
                </div>
            </div>
           </div>
              
        <div class="control-group">
            <label class="control-label" for="id_new_password2">Confirmar Senha:</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
                        <input type="password" id="id_new_password2" class="span3" name="new_password2">
                </div>
            </div>
           </div>
           
           <input type="submit" value="Resetar Senha" class="btn btn-success">
         {% else %}
           <div class="alert alert-error"  >
           <b>Link invalido !!!</b>
            Falha na tentativa de recuperar sua senha.  
          </div>
          
          <a href="/" class="btn"">Voltar ao Sistema</a>
         {% endif %}
</form>
</div>
</div>
{% endblock %}
