{% extends "faq/emails/base.html" %}
{% load i18n %}
{% load markup %}

{% block content %}
<p>{% blocktrans with name=name %}Hello {{ name }},{% endblocktrans %}</p>

<p>
	{% blocktrans with url=reply.url title=reply.forum.title domain=site.domain %}

	 We just wanted to let you know that a new reply for the topic has been added: "{{ title }}". You can visit it here: <a href="{{ domain }}{{ url }}">{{ domain }}{{ url }}</a>
    {% endblocktrans %}
</p>

<div style="background:#f3f3f3;margin:8px 0;padding:12px 18px">
    {{ reply.reply|striptags|markdown }}
</div>

<p>{% trans "You are receiving these messages because you are a staff member." %}</p>

{% endblock content %}
